*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    max-width: 1440px;
    margin: auto;
    background-color: red;
}

@media screen and (max-width:375px) {
    section{
        margin: 15px;
        background-color: green;
    }
}